<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>A Year in the Dark | Alistair Brown</title>
    <meta
      name="description"
      content="Every film Alistair Brown has seen in a London cinema since moving there in August 2024, chasing fifty-two a year."
    />
    <meta name="author" content="Alistair Brown" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://a.ltrbxd.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      @import "../css/reset.css";
    </style>
    <style>
      @import "../css/style.css";
    </style>
    <style>
      @import "../css/cinema.css";
    </style>
    <script type="module">
      import "../js/cinema.js";
    </script>
  </head>

  <body class="cinema">
    <div class="wrapper cinema-wrapper">
      <main class="cinema-content">
        <header class="cinema-header">
          <h1>A Year <wbr />in the&nbsp;Dark</h1>
          <p class="cinema-intro">
            I moved to London on 27&nbsp;August&nbsp;2024 and set myself a
            challenge: fifty-two films a year, in&nbsp;a&nbsp;cinema.
            <br />A year runs August to August. Here&nbsp;are all
            <strong>{{TOTAL}}</strong> of&nbsp;them&nbsp;🎬
          </p>
        </header>

        <div class="year-tabs" role="tablist" aria-label="Challenge year">
          {{TABS}}
        </div>
        {{YEARS}}

        <footer class="cinema-footer">
          <p>
            Pulled from
            <a href="https://letterboxd.com/alistairjcbrown"
              >my&nbsp;Letterboxd&nbsp;diary</a
            >, venues from <a href="https://clusterflick.com/">Clusterflick</a>.
            Last updated {{UPDATED}}.
          </p>
          <p><a href="/">← alistairjcbrown.com</a></p>
        </footer>
      </main>
    </div>
  </body>
</html>
