::selection {
  background: rgba(241, 40, 105, 0.4);
  color: #ffffff;
}

::-moz-selection {
  background: rgba(241, 40, 105, 0.4);
  color: #ffffff;
}

body {
  font-size: 16px;
  line-height: 25px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5e5;
  background-color: #010013;
  background-image:
    radial-gradient(
      ellipse at 20% 0%,
      rgba(241, 40, 105, 0.15) 0%,
      transparent 50%
    ),
    radial-gradient(
      ellipse at 80% 100%,
      rgba(49, 158, 219, 0.12) 0%,
      transparent 50%
    ),
    radial-gradient(ellipse at 50% 50%, rgba(1, 0, 19, 1) 0%, #010013 100%);
  background-attachment: fixed;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

wbr {
  display: none;
}

div.wrapper {
  width: 50em;
  margin: 0 auto;
  text-align: center;
  padding: 2.125em 0;
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  margin: 0 0 2em 0;
  font-size: 1.4em;
  line-height: 1.4;
}

.avatar-flip {
  width: 14.5em;
  height: 14.5em;
  margin: 2.5em auto 0 1.5em;
  float: right;
}

.avatar-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.avatar-flip:hover .avatar-flip-inner {
  transform: rotateY(180deg);
}

img.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 50%;
}

img.avatar-back {
  transform: rotateY(180deg);
  object-fit: contain;
  object-position: center top;
  background-color: #010013;
  background-image:
    radial-gradient(
      ellipse at 30% 90%,
      rgba(49, 158, 219, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      ellipse at 70% 10%,
      rgba(241, 40, 105, 0.25) 0%,
      transparent 60%
    );
  border: 4px solid #f12869;
  box-sizing: border-box;
  height: 89%;
  width: 89%;
  margin: 5% 0 0 5%;
}

div.site-content {
  margin: 0 auto 1em auto;
  text-align: center;
  padding: 0.5em;
  width: 48.75em;
}

p.site-text {
  white-space: nowrap;
  text-wrap: none;
  text-align: center;
  padding: 0 1.6em;
}

span.spacer {
  display: block;
  margin-top: 12px;
}

h1 {
  font-size: 3.5em;
  margin: 0 0 0.4em 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1em;
  color: #f12869;
  border-bottom: 2px solid #319edb;
  display: inline-block;
  padding-bottom: 1.1rem;
  position: relative;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 1.5em 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #fade05;
  opacity: 0.9;
}

ul {
  margin-top: 0.6em;
  font-size: 1.2em;
}

strong {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

li {
  list-style: none;
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  line-height: 1.3;
}

a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #319edb;
  transition: color 0.2s ease;
}

a:hover {
  border-bottom: 0px;
  color: #fade05;
}

p.say-hi a,
p.say-hi a:link,
p.say-hi a:visited,
p.say-hi a:active,
p.say-hi a:hover {
  color: #f12869;
  margin: 0 1em;
  opacity: 1;
}

h3 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #e5e5e5;
  margin-bottom: 0.5em;
}

p.say-hi {
  padding: 0.6em 0.5em;
  -webkit-border-radius: 3em;
  -o-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  border-radius: 3em;
  width: 26em;
  color: #f12869;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6em;
  border: 4px solid #f12869;
  transition: all 0.2s ease;
}

p.say-hi:hover {
  background-color: #f12869;
  color: #010013;
  box-shadow: 0 0 25px rgba(241, 40, 105, 0.5);
}

p.say-hi:hover a,
p.say-hi:hover a:link,
p.say-hi:hover a:visited,
p.say-hi:hover a:active,
p.say-hi:hover a:hover {
  color: #010013;
}

p.motto {
  float: right;
  margin: 100px 0 25px 0;
}

div {
  margin: 0 0 2.1em 0;
  padding-top: 0.2em;
}

.additional-social {
  margin-top: -2.5em;
}

.control-arrow {
  all: unset;
  margin-bottom: 1em;
  margin-top: -1.2em;
}

.control-arrow > img {
  width: 1.7em;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(25%) sepia(93%) saturate(2157%)
    hue-rotate(322deg) brightness(99%) contrast(93%);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.control-arrow:hover > img {
  filter: brightness(0) saturate(100%) invert(82%) sepia(68%) saturate(456%)
    hue-rotate(5deg) brightness(107%) contrast(99%);
}

.slide-up,
.slide-down {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.slide-down {
  max-height: 20em;
}

.slide-down + .control-arrow > img {
  transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
  div.site-content {
    width: 95%;
    padding: 1em;
  }

  div {
    width: 100%;
  }

  div.wrapper {
    width: 100%;
  }

  .avatar-flip {
    width: 180px;
    height: 180px;
    margin: 2.8em 0.2em 0 0.4em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  p.site-text {
    font-size: 1.1em;
  }

  p.say-hi {
    font-size: 1.2em;
    width: 85%;
  }

  h3 {
    font-size: 1.25em;
  }

  ul {
    font-size: 1em;
  }

  .control-arrow > img {
    width: 2em;
  }
}

@media screen and (max-width: 600px) {
  wbr {
    display: inline;
  }

  .avatar-flip {
    width: 180px;
    height: 180px;
    margin: 1.4em auto;
    float: none;
  }

  div.wrapper {
    width: 100%;
    padding: 2em 0;
  }

  div.site-content {
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
  }

  div.site {
    width: 100%;
  }

  div {
    width: 100%;
  }

  p.site-text {
    font-size: 1em;
    white-space: normal;
  }

  p.say-hi {
    width: 90%;
    margin: 0 auto 2em auto;
  }

  li {
    width: 100%;
    padding: 0;
  }

  a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .control-arrow {
    margin-top: 0.5em;
  }

  .control-arrow > img {
    width: 2.5em;
  }

  li,
  .control-arrow {
    width: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  div.wrapper {
    animation: none;
  }

  .avatar-flip:hover .avatar-flip-inner {
    transform: none;
  }

  .avatar-flip-inner {
    transform-style: flat;
  }

  img.avatar-front {
    display: block;
  }

  img.avatar-back {
    display: none;
  }

  .avatar-flip:hover img.avatar-front {
    display: none;
  }

  .avatar-flip:hover img.avatar-back {
    display: block;
    transform: none;
  }
}
